.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
.image {
  width: 100%;
  max-width: 450px;
}
.image img {
  width: 100%;
}
.info {
  width: 100%;
  margin: 0px 15px;
}
.name {
  font-size: 28px;
  margin-bottom: 25px;
}
.nameMob {
  display: none;
}
.general {
  margin-bottom: 5px;
  font-size: 18px;
}
ul.general li {
  padding: 5px 0px 5px 15px;
}
.generalInfo {
  display: flex;
  align-items: center;
  margin: 0px -3px 7px;
  font-size: 18px;
}
.generalInfo svg {
  margin: 0px 3px;
}
.zones {
  width: 100%;
  max-width: 500px;
  position: relative;
}
.seasons {
  display: flex;
  position: absolute;
  top: -35px;
  right: 50px;
  margin: 0px -5px;
}
.seasons span {
  font-size: 16px;
  background-color: var(--color-white);
  border: 2px solid var(--color-green-main);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.seasons span.activeSeason,
.seasons span:hover {
  background-color: var(--color-green-main);
  color: var(--color-white);
  transition: all 0.3s ease;
}

.graphics {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.05);
  padding: 25px;
}
.graphicsOvr {
  width: 60%;
  padding-right: 15px;
}
.graphicsPerc {
  width: 30%;
  padding-left: 15px;
}

.highlights {
  margin-top: 35px;
}
.highlightsVideos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%;
}

@media (max-width: 1370px) {
  .image {
    max-width: 360px;
  }
}
@media (max-width: 1279px) {
  .top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .name {
    display: none;
  }
  .nameMob {
    display: block;
    font-size: 28px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
  }
  .image {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
  .image img {
    max-width: 350px;
  }
  .info,
  .zones {
    width: 50%;
    text-align: center;
  }
  .generalInfo {
    justify-content: center;
  }
  .zones {
    margin-left: 120px;
  }
  .graphicsPerc {
    width: 40%;
  }
}

@media (max-width: 1023px) {
  .zones {
    margin-left: 0px;
  }
  .graphics {
    flex-direction: column-reverse;
  }
  .graphicsOvr {
    width: 80%;
    padding-right: 0;
  }
  .graphicsPerc {
    width: 50%;
    padding-left: 0;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .info,
  .zones {
    width: 100%;
  }
  .graphics {
    padding: 25px 10px;
  }
  .graphicsOvr {
    width: 100%;
  }
  .graphicsPerc {
    width: 70%;
  }
  .highlightsVideos > div {
    width: 100%;
  }
  .highlightsVideos iframe {
    width: 100%;
    height: 220px;
  }
}

@media (max-width: 424px) {
  .zones canvas {
    width: 317px !important;
    height: 340px !important;
  }
}
