.gamePlayerCanvasWrap {
  display: flex;
  flex-direction: column;
}
.gamePlayerCanvas {
  border: 1px solid var(--color-black);
  background-color: var(--color-basketball-court);
  transform: rotate(90deg);
}
@media (max-width: 767px) {
  .gamePlayerCanvasWrap {
    align-items: center;
  }
}
