.gamePlayerCanvasWrap {
  display: flex;
  flex-direction: column;
}
.gamePlayerCanvas {
  border: 1px solid var(--color-black);
  background: url("../../assets/images/courts/court-black.jpg");
  background-size: contain;
  transform: rotate(90deg);
}
@media (max-width: 767px) {
  .gamePlayerCanvasWrap {
    align-items: center;
  }
}
