.confirmPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 25px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirmPopup h5 {
  font-size: 28px;
  margin-bottom: 15px;
}
.confirmPopup p {
  font-size: 16px;
  margin-bottom: 15px;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
