@import "./assets/fonts/fonts.css";

:root {
  --font-main: "Montserrat", sans-serif;

  --color-text-main: #1f1f1f;
  --color-green-main: #00d000;
  --color-badge-purple: #d367d3;

  --color-red: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #ebda00;
  --color-light-gray: #a7a7a7;
  --color-soft-gray: #f1f1f1;
  --color-warning: #af0000;
  --color-warning-hover: #8f0000;
  --color-basketball-court: #69676d;

  --color-button: #31ad31;
  --color-button-hover: #1a911a;

  --color-calendar: #cfd7e3;

  --font-size-title: 32px;
  --font-size-title-mob: 24px;
  --font-size-subtitle: 26px;
  --font-size-subtitle-mob: 20px;
}
