.statsWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -15px;
  width: 100%;
}
.loading {
  justify-content: center;
}
.gameCard > span {
  position: absolute;
  top: 7px;
  right: 7px;
  color: var(--color-light-gray);
  font-size: 12px;
  z-index: 2;
}
.statsTop {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 35px;
}
.canvasStats {
  border: 1px solid var(--color-black);
  background: url("../../assets/images/courts/court-black.jpg");
  background-size: contain;
}
.statsColumn {
  padding: 15px 20px;
  margin: 0px 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.15);
  background-color: var(--color-white);
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statsColumn h5 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  position: relative;
}
.statsColumn h5::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  opacity: 0.2;
}
.allGamesStatsTabs {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.allGamesStatsTabs button {
  padding: 5px 10px;
  margin: 0px 5px;
  border: 1px solid var(--color-green-main);
  border-radius: 5px;
  background-color: var(--color-white);
  font-size: 18px;
  color: var(--color-green-main);
  cursor: pointer;
  transition: all 0.2s ease;
}
.allGamesStatsTabs button:hover,
.allGamesStatsTabs .activeTab {
  background-color: var(--color-green-main);
  color: var(--color-white);
  transition: all 0.2s ease;
}
.statsColumnRows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statsColumnRows span {
  cursor: pointer;
  transition: all 0.2s ease;
}
.statsColumnRows span:hover {
  color: var(--color-green-main);
  transition: all 0.2s ease;
}
.statsColumnRowsPlayersItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0px;
}
.playerColorStick {
  height: 3px;
  width: 15px;
  margin-right: 5px;
}
.activePlayerFilter {
  color: var(--color-green-main);
}
.statsColumnRowsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statsColumnRowsInfo span {
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--color-soft-gray);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.statsColumnRowsInfo span:hover {
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.statsColumnRowsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
.statsColumnRowsItem:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 50%;
  background-color: var(--color-black);
  opacity: 0.15;
}
.gameCard {
  padding: 25px;
  background: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
  z-index: 2;
  margin: 0px 15px;
  width: 14.7%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.gameCard:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease;
}
.calendarGameName {
  font-size: 20px;
  margin-bottom: 10px;
}
.calendarGameScore {
  font-weight: 700;
}
.calendarGameScore span {
  padding: 0px 3px;
}
.win {
  color: var(--color-green-main);
}
.lose {
  color: var(--color-red);
}
.calendarGameDate {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-black);
}
.calendarGameDate span {
  padding: 0px 5px;
}
.activeCard {
  background: var(--color-button);
  color: var(--color-white);
  box-shadow: 0px 0px 20px var(--color-button);
}
.activeCard > span {
  color: var(--color-white);
}
