.gamesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.gamesItem {
  text-align: center;
  margin-bottom: 35px;
}
.gamesAddBtn {
  background-color: var(--color-button);
  border: none;
  color: var(--color-white);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 35px;
  transition: all 0.3s ease;
}
.gamesAddBtn:hover {
  background-color: var(--color-button-hover);
  transition: all 0.3s ease;
}
.noGames {
  text-align: center;
}
.noGames a {
  position: relative;
  text-decoration: none;
  color: var(--color-text-main);
  transition: all 0.15s ease;
}
.noGames a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: var(--color-text-main);
  transition: all 0.15s ease;
}
.noGames a:hover {
  color: var(--color-green-main);
  transition: all 0.15s ease;
}
.noGames a:hover::before {
  background-color: var(--color-green-main);
  transition: all 0.15s ease;
}
.gamesSort {
  position: absolute;
  right: 0;
  top: -75px;
  width: 130px;
}
.playoffsLink {
  margin: 15px 0px 30px;
}
.playoffsLink > a {
  position: relative;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  color: var(--color-button);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.15s ease;
}
.playoffsLink > a:hover {
  text-decoration: none;
  color: var(--color-button-hover);
  transition: all 0.15s ease;
}

@media (max-width: 1279px) {
  .gamesItem {
    margin-bottom: 25px;
  }
}

@media (max-width: 1023px) {
  .gamesSort {
    width: 110px;
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .gamesSort {
    position: relative;
    top: -10px;
    margin: 0 auto 10px;
  }
}
