.quartersTable {
  padding: 25px 0px;
  position: relative;
}

.quartersTable th,
.quartersTable td {
  padding: 3px 7px;
  min-width: 50px;
}

.quartersTable th {
  font-size: 14px;
}

.quartersTable tbody td {
  font-size: 18px;
  position: relative;
}

.quartersTable tbody td input {
  background: transparent;
  border: 1px solid var(--color-soft-gray);
  border-radius: 5px;
  padding: 5px;
  outline: none;
  min-height: 40px;
  max-width: 45px;

  text-align: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.quartersTable tbody td input:focus {
  border-color: var(--color-green-main);
  transition: all 0.3s ease;
}

.quartersTable tbody tr:first-child td::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 90%;
  background-color: var(--color-soft-gray);
}

.quartersTable tbody tr td:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 90%;
  background-color: var(--color-soft-gray);
}

.logoCell img {
  width: 30px;
}

.win {
  color: var(--color-green-main);
  font-weight: 500;
}
.lose {
  color: var(--color-red);
  font-weight: 500;
}
.even {
  color: var(--color-yellow);
  font-weight: 500;
}

.addQuarterBtn {
  position: absolute;
  top: 56%;
  right: -30px;
  transform: translateY(-50%) scale(1);
  background-color: var(--color-button);
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s ease;
}

.addQuarterBtn:hover {
  transform: translateY(-50%) scale(1.25);
  transition: all 0.2s ease;
}

@media (max-width: 1023px) {
  .quartersTable {
    padding: 0px 0px 50px;
  }
}

@media (max-width: 424px) {
  .quartersTable th,
  .quartersTable td {
    min-width: 40px;
  }
}
