@import "./assets/fonts/fonts.css";

:root {
  --font-main: "Montserrat", sans-serif;

  --color-text-main: #1f1f1f;
  --color-green-main: #00d000;
  --color-badge-purple: #d367d3;

  --color-red: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #a7a7a7;
  --color-soft-gray: #f1f1f1;

  --color-button: #31ad31;
  --color-button-hover: #1a911a;

  --color-calendar: #cfd7e3;

  --font-size-title: 32px;
}
