.tableWrap {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto 25px;
}
.tableRow,
.tableHead {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.4fr 0.4fr 0.4fr;
  text-align: center;
}
.tableHead {
  padding: 10px 15px;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  font-size: 12px;
}
.tableRow {
  padding: 15px;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  cursor: pointer;
  transition: all 0.2s ease;
}
.tableRow:hover {
  background-color: rgb(226, 226, 226);
  transition: all 0.2s ease;
}
