.tables {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}
.tableCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 35px;
  width: 400px;
}
.tableWrap {
  background: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto 25px;
}
.tableRow,
.tableHead {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.4fr 0.4fr 0.4fr;
  text-align: center;
}
.tableHead {
  padding: 10px 15px;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  font-size: 12px;
}
.tableRow {
  padding: 15px;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  cursor: pointer;
  transition: all 0.2s ease;
}
.tableRow:hover {
  background-color: rgb(233, 233, 233);
  transition: all 0.2s ease;
}
.groupName {
  padding-bottom: 15px;
  font-size: 20px;
}

@media (max-width: 1023px) {
  .tableCont {
    margin: 0px 15px;
  }
  .tableHead {
    padding: 10px;
    grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr 0.2fr;
  }
  .tableRow {
    padding: 12px 10px;
    grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr 0.2fr;
  }
}

@media (max-width: 767px) {
  .tables {
    flex-direction: column;
  }
  .tableCont {
    margin: 0px;
    width: 100%;
  }
}
