.addDatePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border-radius: 10px;
  max-width: 500px;
  padding: 50px 25px 25px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
}
.closedPopup {
  padding: 25px !important;
}
.closedPopup .closeBtn {
  top: 10px;
  right: 10px;
}
.closedPopup .closeBtn svg {
  width: 10px;
}
.addDateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 22px;
  margin-bottom: 25px;
}
.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.dateWrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.dateWrap > span,
.dateWrap input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--color-soft-gray);
  border-radius: 5px;
  padding: 5px;
  outline: none;
  min-height: 40px;
  text-align: center;
  font-size: 18px;
  width: 100%;
}
.dateWrap input[name="time"] {
  width: 70px;
  margin-left: 25px;
}
.selectWrap {
  margin: 25px 0px;
  width: 100%;
  cursor: pointer;
}
